
_ARCHIVE
_cloudinary
_DEPLOY
_reference


.DS_Store
.env
.env.build
.git
.grunt
.idea
.next
.vercel
.vscode
*.code-workspace
*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp


# Dependency directories
# dotenv environment variables file (build for Zeit Now)
# Logs
# next.js build output
build/
chrome-user-data
dist
node_modules

npm-debug.log*
ProcreateArtwork
yarn-debug.log*
yarn-error.log*