# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

_ARCHIVE
_DEPLOY
.git
.DS_Store
node_modules
dist

.vercel
_reference
_cloudinary
ProcreateArtwork