<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- <link href="../favicon.ico.png" rel="icon"> -->

    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- <meta content="#000000" name="theme-color"> -->

    <!-- <link href="../fonts/apercu-regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2">
    <link href="../fonts/apercu-medium.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"> -->

    <!-- <link href="../manifest.json" rel="manifest"> -->

    <title>Gregory Cowley</title>

</head>

<body>
    <div id="root"></div>
</body>

</html>